.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-size: 120px;
    font: bold;
  }


  body {
    background-image: url("/assets/BWbg.jpg");
    background-color: #cccccc;
 }