<nav class="navbar navbar-expand-xl bg-light navbar-light  ml-auto" *ngIf="isLoggedIn$ | async" >
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item" routerlinkactive="active current">
                <a [routerLink]="['/post']"  class="nav-link"><b>Post</b></a>
            </li>
            <li class="nav-item" routerlinkactive="active current">
                <a [routerLink]="['/quotes']" class="nav-link"><b>Quotes</b></a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" routerlinkactive="active current">
                        <a (click)="logout()" [routerLink]="['/login']" class="nav-link"><b>logout</b></a>
                    </li>
            </ul>
    </div>
</nav>

<!-- <mat-toolbar color="primary">
    <span>
      Angular NavBar + Login Example #01
    </span>
    <span class="fill-remaining-space"></span>
    <button mat-button>Menu Option 01</button>
    <button mat-button>Menu Option 02</button>
    <button mat-button routerLink="login">Login</button>
    <button mat-button (click)="onLogout()">Logout</button>
  </mat-toolbar> -->

<router-outlet></router-outlet>