
  <div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col col-xs-6">
                <h3 class="panel-title">PostManager</h3>
              </div>
              <div class="col col-xs-6 text-right">
                <button type="button" class="btn btn-sm btn-primary btn-create" (click)="reset()">Reset</button>
                <button type="button" class="btn btn-sm btn-primary btn-create" (click)="searchpop()">Search</button>
                <button type="button" class="btn btn-sm btn-primary btn-create" (click)="add()">Add</button>
                <button type="button" class="btn btn-sm btn-primary btn-create" (click)="edit()">Edit</button>
                <button type="button" class="btn btn-sm btn-primary btn-delete" (click)="deletePost()">Delete</button>
              </div>
            </div>
          </div>
          <div class="panel-body">
              <div>
                  <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event;selectedRow=-1;"></pagination-controls>
              </div>

            <table class="table table-striped table-bordered table-list">
              <thead>
                <tr>
                  <th>PostTitle</th>
                  <th>PostDesc</th>
                  <th>PostInfo</th>
                </tr>
              </thead>
              <tr *ngFor="let post of posts | paginate: { id: 'listing_pagination',
              itemsPerPage: itemsPerPage,
              currentPage: page,
              totalItems: totalRec }; let i = index;" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                <td>{{post.posttitle}}</td>
                <td>{{post.postdesc}}</td>
                <td class="ellipsis">{{post.postinfo.postviewdesc}}</td>
              </tr>
            </table>
           
          </div>
          <!--           <div class="panel-footer">
              <div class="row">
                <div class="col col-xs-4">Page 1 of 5
                </div>
                <div class="col col-xs-8">
                  <ul class="pagination hidden-xs pull-right">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                  </ul>
                  <ul class="pagination visible-xs pull-right">
                      <li><a href="#">«</a></li>
                      <li><a href="#">»</a></li>
                  </ul>
                </div>
              </div>
            </div> -->
        </div>
      </div>
    </div>

    <div id="myModal" class="modal" [style.display]="popstyle">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <div (click)="toggle()">
            <span class="close">&times;</span>
          </div>
          <div>
              <Label>Manage Post</Label> 
          </div>         
        </div>
        <div class="modal-body">
          <div class="container">
            <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && submitPostinfo()" novalidate>

              <div class="form-group" [ngClass]="{'has-error':f.submitted && !fposttitle.valid}">
                <label for="fposttitle">PostTitle</label>
                <input type="text" id="fposttitle" name="fposttitle" class="form-control" [(ngModel)]="model.posttitle" #fposttitle="ngModel"
                  required />
                <div *ngIf="f.submitted && !fposttitle.valid" class="help-block">PostTitle required</div>
              </div>

              <div class="form-group" [ngClass]="{'has-error':f.submitted && !fpostdesc.valid}">
                <label for="fpostdesc">PostDesc</label>
                <input type="text" id="fpostdesc" name="fpostdesc" class="form-control" [(ngModel)]="model.postdesc" #fpostdesc="ngModel"
                  required />
                <div *ngIf="f.submitted && !fpostdesc.valid" class="help-block">PostDesc required</div>
              </div>

              <div class="form-group" [ngClass]="{'has-error':f.submitted && !fncategorycode.valid}">
                <label for="fncategorycode">PostCategory</label>
                <select [compareWith]="byId" id="fncategorycode" name="fncategorycode" class="form-control" ngControl="fncategoryControl"
                [(ngModel)]="model.newscategorycode" #fncategorycode="ngModel" required>
                  <option *ngFor="let cat of cats" [ngValue]="cat.newscategorycode">{{cat.newscategoryname1}}/{{cat.newscategoryname2}}</option>
                </select>
                <div *ngIf="f.submitted && !fncategorycode.valid" class="help-block">Post Category required</div>
              </div>


              <div class="form-group" [ngClass]="{'has-error':f.submitted && !postvwdesc.valid}">
                <label for="postvwdesc">PostInfo</label>
                <textarea rows="10" id="postvwdesc" name="postvwdesc" class="form-control" [(ngModel)]="model.postinfo.postviewdesc" #postvwdesc="ngModel"
                  required></textarea>
                <div *ngIf="f.submitted && !postvwdesc.valid" class="help-block">PostInfo required</div>
              </div>

              <div class="form-group" [ngClass]="{'has-error':f.submitted && !postimgurl.valid}">
                <label for="postimgurl">PostImage</label>
                <input type="text" readonly id="postimgurl" name="postimgurl" class="form-control" [(ngModel)]="model.postimgurl"
                  #postimgurl="ngModel" required />
                <input type="file" #fileupload1 name="uploadfile1" [(ngModel)]="model.fileupload1" #fileupload1="ngModel" (change)="postimgfileChange($event)" class="form-control"  />
                <!--     <button class="btn btn-success" [disabled]="uploadfile1 == undefined"
	                  (click)="uploadfilepostimg()">Upload</button>
           -->
                <div *ngIf="f.submitted && !postimgurl.valid" class="help-block">PostImage required</div>
              </div>

              <div class="form-group" [ngClass]="{'has-error':f.submitted && !postimgurls.valid}">
                  <label for="postimgurls">PostViewImage</label>
                  <input type="text" readonly id="postimgurls" name="postimgurls" class="form-control" [(ngModel)]="model.postinfo.postimgurls"
                    #postimgurls="ngModel" required />
                  <input type="file" #fileupload2 name="uploadfile2" [(ngModel)]="model.fileupload2" #fileupload2="ngModel" (change)="postimgfileChange($event)" class="form-control"  />
                  <!--     <button class="btn btn-success" [disabled]="uploadfile1 == undefined"
                      (click)="uploadfilepostimg()">Upload</button>
             -->
                  <div *ngIf="f.submitted && !postimgurl.valid" class="help-block">PostViewImage required</div>
                </div>

              <div class="form-group" style=" margin: 0 auto;text-align:center;">
                <button class="btn btn-primary">Submit</button>
              </div>
              <div *ngIf="submiterror" class="help-block"> </div>

            </form>
          </div>
        </div>
        <div class="modal-footer">
          <!--   <h3> </h3> -->
        </div>
      </div>

    </div>

    <div id="searchmodal" class="modal" [style.display]="searchstyle">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <div (click)="togglesearch()">
              <span class="close">&times;</span>
            </div>
              <Label>Search Post</Label> 
          </div>
          <div class="modal-body">
            <div class="container">
              <form #searchform="ngForm" name="form" (ngSubmit)="searchform.form.valid " novalidate>
  
                <div class="form-group" [ngClass]="{'has-error':searchform.submitted && !posttitle.valid}">
                  <label for="posttitle">PostTitle</label>
                  <input type="text" id="posttitle" name="posttitle" class="form-control" [(ngModel)]="searchmodel.posttitle" #posttitle="ngModel"
                     />
                  <div *ngIf="f.submitted && !posttitle.valid" class="help-block">PostTitle required</div>
                </div>
  
                <div class="form-group" [ngClass]="{'has-error':searchform.submitted && !postdesc.valid}">
                  <label for="postdesc">PostDesc</label>
                  <input type="text" id="posttitle2" name="postdesc" class="form-control" [(ngModel)]="searchmodel.postdesc" #postdesc="ngModel"
                     />
                  <div *ngIf="f.submitted && !postdesc.valid" class="help-block">PostDesc required</div>
                </div>
  
  
                <div class="form-group" [ngClass]="{'has-error':searchform.submitted && !postdesc.valid}">
                  <label for="postdesc">PostInfo</label>
                  <input type="text" id="postdesc" name="postdesc" class="form-control" [(ngModel)]="searchmodel.postinfo.postviewdesc" #postdesc="ngModel"/>
                  <div *ngIf="f.submitted && !postdesc.valid" class="help-block">PostDesc required</div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':searchform.submitted && !createddate.valid}">
                    <label for="createddate">Post FromDate</label>
                    <input type="text" class="form-control" id="createddate" name="createddate" (change)="datehandle($event)" [(ngModel)]="searchmodel.createddate" #createddate="ngModel"/>
                    <div *ngIf="f.submitted && !createddate.valid" class="help-block">Post Date required</div>
                  </div>

                  <div class="form-group" [ngClass]="{'has-error':searchform.submitted && !modifieddate.valid}">
                    <label for="modifieddate">Post ToDate</label>
                    <input type="text" class="form-control" id="modifieddate" name="modifieddate" (change)="datehandle($event)" [(ngModel)]="searchmodel.modifieddate" #modifieddate="ngModel"/>
                    <div *ngIf="f.submitted && !modifieddate.valid" class="help-block">Post ToDate required</div>
                  </div>
          
                <div class="form-group" style=" margin: 0 auto;text-align:center;">
                  <button class="btn btn-primary" (click)="search()">Search</button>
                  <button class="btn  btn-primary" (click)="searchform.form.reset()">Reset</button>
                </div>
              
                <div *ngIf="submiterror" class="help-block"> </div>
  
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <!--   <h3> </h3> -->
          </div>
        </div>
  
      </div>

    <div id="alertModal" class="modalalert" [style.display]="popalertstyle">
      <div class="modal-alertcontent">
        <div class="modal-header">
          <div (click)="togglealert()">
            <span class="close">&times;</span>           
          </div>
          <Label>Decision</Label> 
        </div>

        <div class="modal-body">
          <div class="container">
            <div style="text-align : center;">
              <label>Are you sure you want to delete the item..?</label>
            </div>
            <div class="centered_buttons">
              <button class="btn btn-primary div-button" (click)="deletePostdecision()">Ok</button>
              <span width="10%"> </span>
              <button class="btn btn-primary div-button" (click)="togglealert()">Cancel</button>
            </div>

          </div>
        </div>

      </div>


    </div>

